.link{
    color: red;
    font-size: 24px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}